@if (pokemon()) {
<div class="pokemon-flex-container">
  <div class="pokedex-card" [class]="getTypeClass(pokemon()!)">
    <div class="card-header">
      <span class="pokemon-number">#{{ formatNumber(pokemon().id) }}</span>
      <div class="type-badges">
        <span
          class="type-badge"
          [style.background]="getTypeColor(pokemon()!.type1)"
        >
          {{ pokemon()!.type1 | titlecase }}
        </span>
        @if (pokemon()!.type2) {
        <span
          class="type-badge"
          [style.background]="getTypeColor(pokemon().type2)"
        >
          {{ pokemon()!.type2 | titlecase }}
        </span>
        }
      </div>
    </div>
    <div class="pokemon-image-container">
      <img
        [src]="pokemon().image_url"
        [alt]="pokemon().name"
        class="pokemon-image"
        (error)="onImageError(pokemon())"
      />
    </div>
    <div class="card-body">
      <h3 class="pokemon-name">{{ pokemon()!.name | titlecase }}</h3>
      <div class="pokemon-stats">
        <div class="stat">
          <span class="stat-label">Height</span>
          <span class="stat-value"
            >{{ pokemon()!.height / 10 | number : "1.1-1" }} m</span
          >
        </div>
        <div class="stat">
          <span class="stat-label">Weight</span>
          <span class="stat-value"
            >{{ pokemon()!.weight / 10 | number : "1.1-1" }} kg</span
          >
        </div>
        <div class="stat">
          <span class="stat-label">EXP</span>
          <span class="stat-value">{{ pokemon()!.baseExperience }}</span>
        </div>
      </div>

      @if(pokemon().species) {
      <div class="species-badges">
        <span class="species-badge habitat">
          Habitat: {{ getHabitatName(pokemon().species.habitatId) }}
        </span>
        <span class="species-badge color"> Color: {{ pokemon().color }} </span>
      </div>
      <div class="card-body">
        <div class="species-info">
          <div class="info-group">
            <div class="info-item">
              <span class="info-label">Base Happiness</span>
              <span class="info-value">{{
                pokemon().species.baseHappiness
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Capture Rate</span>
              <span class="info-value">{{
                pokemon().species.captureRate
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Gender Rate</span>
              <span class="info-value">{{
                getGenderRateText(pokemon().species.genderRate)
              }}</span>
            </div>
          </div>

          <div class="info-group">
            <div class="info-item">
              <span class="info-label">Growth Rate</span>
              <span class="info-value">{{
                getGrowthRateName(pokemon().species.growthRateId)
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Hatch Steps</span>
              <span class="info-value">{{
                pokemon().species.hatchCounter * 255
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Generation</span>
              <span class="info-value">{{
                pokemon().species.generationId
              }}</span>
            </div>
          </div>

          <div class="info-group">
            <div class="info-item">
              <span class="info-label">Forms Switchable</span>
              <span class="info-value">{{
                pokemon().species.formsSwitchable ? "Yes" : "No"
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Has Gender Differences</span>
              <span class="info-value">{{
                pokemon().species.hasGenderDifferences ? "Yes" : "No"
              }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Is Baby</span>
              <span class="info-value">{{
                pokemon().species.isBaby ? "Yes" : "No"
              }}</span>
            </div>
          </div>

          <div class="info-group">
            <div class="info-item">
              <span class="info-label">Evolution Chain</span>
              <span class="info-value"
                >#{{ pokemon().species.evolutionChainId }}</span
              >
            </div>
            <div class="info-item">
              <span class="info-label">Shape</span>
              <span class="info-value">{{ pokemon().shape }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Order</span>
              <span class="info-value">{{ pokemon().species.order }}</span>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

}
