@if (pokemon()) {
<div class="pokemon-flex-container">
  <div class="pokedex-card" [class]="getTypeClass(pokemon()!)">
    <div class="card-header">
      <span class="pokemon-number">#{{ formatNumber(pokemon().id) }}</span>
      <div class="type-badges">
        <span
          class="type-badge"
          [style.background]="getTypeColor(pokemon()!.type1)"
        >
          {{ pokemon()!.type1 | titlecase }}
        </span>
        @if (pokemon()!.type2) {
        <span
          class="type-badge"
          [style.background]="getTypeColor(pokemon().type2)"
        >
          {{ pokemon()!.type2 | titlecase }}
        </span>
        }
      </div>
    </div>
    <div class="pokemon-image-container">
      <img
        [src]="pokemon()!.imageUrl"
        [alt]="pokemon()!.name"
        class="pokemon-image"
      />
    </div>
    <div class="card-body">
      <h3 class="pokemon-name">{{ pokemon()!.name | titlecase }}</h3>
      <div class="pokemon-stats">
        <div class="stat">
          <span class="stat-label">Height</span>
          <span class="stat-value"
            >{{ pokemon()!.height / 10 | number : "1.1-1" }} m</span
          >
        </div>
        <div class="stat">
          <span class="stat-label">Weight</span>
          <span class="stat-value"
            >{{ pokemon()!.weight / 10 | number : "1.1-1" }} kg</span
          >
        </div>
        <div class="stat">
          <span class="stat-label">EXP</span>
          <span class="stat-value">{{ pokemon()!.baseExperience }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
}
