<div class="app-container">
  <header class="pokedex-header">
    <div class="logo-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg"
        alt="Pokeball Logo"
      />
      <span>Pokédex</span>
    </div>

    <nav class="pokedex-nav">
      <ul>
        <li>
          <a
            routerLink="/pokemon"
            routerLinkActive="bg-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Pokémon
          </a>
        </li>
        <li>
          <a routerLink="/species" routerLinkActive="bg-active"> Species </a>
        </li>
        <li>
          <a routerLink="/colors" routerLinkActive="bg-active"> Colors </a>
        </li>
        <li>
          <a routerLink="/shapes" routerLinkActive="bg-active"> Shapes </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
