:host {
  --pokemon-red: #ff0000;
  --pokemon-yellow: #ffde00;
  --pokemon-black: #222222;
  --pokemon-white: #ffffff;
  --pokemon-grey: #f0f0f0;
  --pokemon-blue: #3b4cca;
}

.app-container {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.pokedex-header {
  background-color: var(--pokemon-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 5px solid var(--pokemon-black);
  color: var(--pokemon-yellow);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  filter: drop-shadow(2px 2px 0 var(--pokemon-black));
}

.logo-container span {
  font-size: 32px;
  text-shadow: 3px 3px 0 var(--pokemon-black);
}

.pokedex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pokedex-nav li {
  margin-left: 20px;
}

.pokedex-nav a {
  color: var(--pokemon-white);
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: 2px 2px 0 var(--pokemon-black);
  border: 2px solid transparent;

  &.bg-active {
    background-color: var(--pokemon-blue);
  }
}

.pokedex-nav a:not(.bg-active):hover {
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-black);
  text-shadow: none;
}

.pokedex-nav a.active {
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-black);
  text-shadow: none;
  border: 2px solid var(--pokemon-black);
  transform: translateY(-2px);
}

.main-content {
  padding: 2rem;
  background-color: var(--pokemon-grey);
  min-height: calc(100vh - 85px); /* Ajusta según la altura del header */
}

.view-container {
  background-color: var(--pokemon-white);
  padding: 2rem;
  border-radius: 12px;
  border: 3px solid var(--pokemon-black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-container h2 {
  color: var(--pokemon-red);
  margin-top: 0;
  font-size: 2em;
  text-shadow: 2px 2px 0 var(--pokemon-grey);
}

.pokemon-view p {
  margin-bottom: 2rem;
}
